In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
pip install pandas numpy matplotlib seaborn

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.5.0)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [22]:
df=pd.read_csv('/afa2e701598d20110228.csv', sep=';')
df

      id        date    NH4  BSK5  Suspended     O2    NO3    NO2     SO4    PO4       CL
0      1  17.02.2000  0.330  2.77       12.0  12.30   9.50  0.057  154.00  0.454   289.50
1      1  11.05.2000  0.044  3.00       51.6  14.61  17.75  0.034  352.00  0.090  1792.00
2      1  11.09.2000  0.032  2.10       24.5   9.87  13.80  0.173  416.00  0.200  2509.00
3      1  13.12.2000  0.170  2.23       35.6  12.40  17.13  0.099  275.20  0.377  1264.00
4      1  02.03.2001  0.000  3.03       48.8  14.69  10.00  0.065  281.60  0.134  1462.00
...   ..         ...    ...   ...        ...    ...    ...    ...     ...    ...      ...
2856  22  06.10.2020  0.046  2.69        3.6   8.28   3.80  0.038  160.00  0.726    77.85
2857  22  27.10.2020  0.000  1.52        0.5  11.26   0.56  0.031  147.20  0.634    71.95
2858  22  03.12.2020  0.034  0.29        0.8  11.09   2.58  0.042  209.92  0.484    61.17
2859  22  12.01.2021  0.000  2.10        0.0  14.31   3.94  0.034  121.60  0.424    63.49
2860  22  10.02.2021  0.000  1.78        0.0  14.30   6.30  0.033  134.40  0.582    66.31

[2861 rows x 11 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   object
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 246.0+ KB

In [24]:
df.date=pd.to_datetime(df.date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   datetime64[ns]
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 246.0 KB

<ipython-input-24-707d4c384f3e>:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df.date=pd.to_datetime(df.date)

In [25]:
df.isnull().sum()

id            0
date          0
NH4           3
BSK5          1
Suspended    16
O2            3
NO3           1
NO2           3
SO4          49
PO4          28
CL           49
dtype: int64

In [26]:
df.describe().T

            count                           mean  ...                  max         std
id         2861.0                      12.397064  ...                 22.0    6.084226
date         2861  2010-05-02 22:53:33.701502976  ...  2021-04-07 00:00:00         NaN
NH4        2858.0                       0.758734  ...               39.427    2.486247
BSK5       2860.0                       4.316182  ...                 50.9    2.973997
Suspended  2845.0                      12.931905  ...                595.0   16.543097
O2         2858.0                       9.508902  ...                 90.0     4.42826
NO3        2860.0                       4.316846  ...                133.4    6.881188
NO2        2858.0                       0.246128  ...                109.0    2.182777
SO4        2812.0                      59.362313  ...               3573.4   96.582641
PO4        2833.0                       0.418626  ...               13.879    0.771326
CL         2812.0                      93.731991  ...              5615.28  394.512184

[11 rows x 8 columns]

In [27]:
df=df.sort_values(by=['id','date'])
df

      id       date    NH4  BSK5  Suspended     O2    NO3    NO2     SO4    PO4       CL
0      1 2000-02-17  0.330  2.77       12.0  12.30   9.50  0.057  154.00  0.454   289.50
1      1 2000-05-11  0.044  3.00       51.6  14.61  17.75  0.034  352.00  0.090  1792.00
2      1 2000-09-11  0.032  2.10       24.5   9.87  13.80  0.173  416.00  0.200  2509.00
3      1 2000-12-13  0.170  2.23       35.6  12.40  17.13  0.099  275.20  0.377  1264.00
4      1 2001-03-02  0.000  3.03       48.8  14.69  10.00  0.065  281.60  0.134  1462.00
...   ..        ...    ...   ...        ...    ...    ...    ...     ...    ...      ...
2856  22 2020-10-06  0.046  2.69        3.6   8.28   3.80  0.038  160.00  0.726    77.85
2857  22 2020-10-27  0.000  1.52        0.5  11.26   0.56  0.031  147.20  0.634    71.95
2858  22 2020-12-03  0.034  0.29        0.8  11.09   2.58  0.042  209.92  0.484    61.17
2859  22 2021-01-12  0.000  2.10        0.0  14.31   3.94  0.034  121.60  0.424    63.49
2860  22 2021-02-10  0.000  1.78        0.0  14.30   6.30  0.033  134.40  0.582    66.31

[2861 rows x 11 columns]

In [29]:
df['year']=df.date.dt.year
df['month']=df.date.dt.month
df.columns

Index(['id', 'date', 'NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL', 'year', 'month'],
      dtype='object')